* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 0px;
  height: 0px;
  margin: 0 auto;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  width: 15px;
  height: 15px;
}

.color-palette {
  height: 300px;
  width: 200px;
  background-color: grey;
}

.red-button {
  height: 50px;
  width: 50px;
  background-color: red;
}
.green-button {
  height: 50px;
  width: 50px;
  background-color: green;
}
.blue-button {
  height: 50px;
  width: 50px;
  background-color: blue;
}
.black-button {
  height: 50px;
  width: 50px;
  background-color: black;
}
.yellow-button {
  height: 50px;
  width: 50px;
  background-color: yellow;
}
.white-button {
  height: 50px;
  width: 50px;
  background-color: white;
}

for (let i = 0; i < colorArr.length; i++) {
  const colorButton = document.createElement("button");
  colorButton.classList.add(`${colorArr[i]}-button`);
  colorButton.style.backgroundColor = colorArr[i]; // Set the background color to the corresponding color
  colorButton.addEventListener("click", () => {
    currentColor = colorArr[i]; // Set the current color to the clicked color
  });
  colorPalette.appendChild(colorButton);
}
